# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#VS Directories
.vs/

#CMAKE
CMAKEBUILD/

#VS Directories
.vs/
.workspace/
.visualgdb/

#3rd party Directories
3rdParty/
!3rdParty/*.json

#Binaries
Binaries/
!Binaries/*.txt

#MAC
*.DS_Store
